        * {
            box-sizing: border-box;
        }
        /* mobile screens */
        
        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(9, 100px);
            padding: 25px;
            grid-gap: 10px;
        }
        
        .item1 {
            background-color: #F5C6D6;
        }
        
        .item2,
        .item3,
        .item4,
        .item5 {
            background-color: #EE2E84;
        }
        
        .item6 {
            background-color: #85CFD8;
        }
        
        .item7 {
            background-color: #85CFD8;
        }
        
        .item8 {
            background-color: #8DC63F;
        }
        
        .item9 {
            background-color: #E76E34;
        }
        /* desktop */
        
        @media only screen and (min-width: 768px) {
            .grid-container {
                grid-template-columns: repeat(4, 4fr);
                grid-template-rows: repeat(4, 100px);
            }
            .item1 {
                grid-column: 1 / span 4;
                grid-row: 1;
            }
            .item2 {
                grid-column: 1;
                grid-row: 2;
            }
            .item3 {
                grid-column: 2;
                grid-row: 2;
            }
            .item4 {
                grid-column: 3;
                grid-row: 2;
            }
            .item5 {
                grid-column: 4;
                grid-row: 2;
            }
            .item6 {
                grid-column: 1 / span 2;
                grid-row: 3;
            }
            .item7 {
                grid-column: 3 / span 2;
                grid-row: 3;
            }
            .item8 {
                grid-column: 1 / span 3;
                grid-row: 4;
            }
            .item9 {
                grid-column: 4;
                grid-row: 4;
            }
        }