* {
    margin: 0;
    padding: 0;
}
/* navigation */
.navLink {
    display: block;
    background-color: tan;
    text-decoration: none;
    color: black;
    width: auto;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin: 3px;
    padding: 5px;
}
.navLink:hover {
    background-color: brown;
    color: white;
    text-shadow: 0px 0px 7px black;
}
.companyLogo img {
    height: 200px;
    display: block;
    border: none;
    margin: auto;
}
header img {
    height: 200px;
    display: block;
    width: auto;
    border: 3px double brown;
    margin: 20px auto;
}

/* desktop navigation */
@media only screen and (min-width: 750px) {
    .navbar {
        background-color: white;
        position: fixed;
        top: 0;
        width: 100%;
        text-align: center;
    }
    .navLink {
        background-color: white;
        display: inline-block;
        border-radius: 10px;  
        font-size: 20px;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
    }
    header {
        margin-top: 70px;
        padding: 70px auto 40px auto;
    }
}

/* content */

h1 {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}
h3 {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-style: italic;
    padding-bottom: 15px;
    border-bottom: 5px dotted brown;
    margin: 10px;
}
h4 {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin: 10px;
}
.lolText {
    font-style: italic;
    color: brown;
}
p {
    font-family: 'Dosis', sans-serif;
    text-align: center;
}
.luxeryLevels {
    margin: 25px;
}
.luxeryLevels li {
    list-style-type: none;
    font-weight: bold;
    color: brown;
    font-size: 22px;
    padding: 20px;
}
.luxeryLevels i {
    margin-right: 5px;
}
.luxeryLevels p {
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
}
table {
    border-collapse: collapse;
    margin: 10px auto;
    text-align: center;
}
td {
    border-bottom: 1px solid black;
    padding: 10px;
    font-style: italic;
    color: darkolivegreen;
    margin-bottom: 10px;
}
main {
    border-bottom: 5px dotted brown;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
main p {
    line-height: 1.5;
}
form {
    padding: 40px;
    text-align: center;
}
input {
    display: block;
    padding: 5px;
    margin: 5px auto;
    width: 275px;
}
textarea {
    height: 200px;
    width: 300px;
    display: block;
    margin: 5px auto;
    padding: 5px;
}
#checkbox {
    width: 25px;
}
#submitButton {
    width: 200px;
    display: block;
    margin: 5px auto;
}
.phoneNumber,
.address {
    padding: 30px;
    border: 2px solid brown;
    margin: 10px;
}

/* desktop form */

@media only screen and (min-width: 750px) {
    form {
        display: inline-block;
        position: relative;
        left: 25px;
        text-align: left;
    }
    input {
        display: inline-block;
        margin: 5px;
    }
    textarea {
        display: inline-block;
        margin: 5px;
        height: 250px;
        width: 400px;
    }
    #submitButton {
        margin: 5px;
    }
    .phoneNumber,
    .address {
        display: inline-block;
        position: absolute;
        right: 50px;
    }
    .phoneNumber {
        top: 400px;
    }
    .address {
        top: 550px;
    }
}

/* testimonials */

.testimonialSection {
    display: block;
    width: 100%;
    margin: 25px auto;
    text-align: center;
}
.testimonialSection div {
    width: 30%;
    height: 150px;
    padding: 10px;
    border: 2px solid brown;
    display: inline-block;
    background: white;
    overflow: hidden;
}
.testimonialSection div:hover {
    box-shadow: 2px 2px 5px 5px gray;
}
.testimonialSection img {
    float: left;
    max-height: 100px;
    max-width: 100px;
}
.testimonialSection p {
    font-style: italic;
    font-size: 14px;
}

/* footer */

footer {
    padding: 10px;
}
.followLinks {
    text-align: center;
}
.fa-facebook {
    color: #3A7BFF;
    padding: 5px;
}
.fa-camera {
    color: #FF645F;
    padding: 5px;
}
.fa-twitter-square {
    color: #59a2ff;
    padding: 5px;
}
.followLinks li {
    display: block;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    margin: auto;
}
.followLinks a {
    text-decoration: none;
    color: black;
}
.followLinks a:hover {
    color: red;
}

/* desktop footer */

@media only screen and (min-width: 750px) {
    .followLinks li {
        display: inline;
        margin-right: 15px;
    }
}
