* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gridContainer {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
}
/* mobile */
header {
    grid-column: 1 / 13;
    padding: 5px;
}
nav {
    grid-column: 1 / 13;
    text-align: center;
    background-color: rgb(238, 199, 235);
}
nav li {
    background-color: rgb(201, 122, 238);
    border: 1px solid rgb(238, 199, 235);
    border-radius: 5px;
    padding: 5px;
    font-family: 'Baloo', cursive;
}
nav li:hover {
    background-color: rgb(235, 92, 227);
    color: seashell;
    text-shadow: 0px 0px 15px purple;
}

h1 {
    text-align: center;
    background-color: white;
    color: palevioletred;
    font-family: 'Emilys Candy', cursive;
}
h2 {
    text-align: center;
    padding: 10px;
    color: rgb(38, 9, 65);
    font-family: 'Baloo', cursive;
    border-bottom: 5px dotted rgb(38, 9, 65);
    margin: 5px;
}
main p {
    padding: 20px 10px;
    color: rgb(38, 9, 65);
    font-family: 'Baloo', cursive;
}
main {
    grid-column: 1 / 13;
    background-color: rgb(238, 199, 235);
}
table {
    padding: 10px;
    margin: 20px 5px;
    border-collapse: collapse;
}
th {
    background-color: rgb(201, 122, 238);
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
}
tr, td {
    border: 1px solid black;
    text-align: left;
    padding: 3px;
}

.candyScroller {
    grid-column: 1 / 13;
    height: 300px;
    border-top: 5px dotted rgb(38, 9, 65);
    background-color: rgb(238, 199, 235);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}
.candyScroller div {
    height: 106px;
    width: 106px;
    border: 3px double rgb(38, 9, 65);
    margin: 10px;
}
img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    opacity: 0.5;
}
img:hover {
    opacity: 1;
}

footer {
    grid-column: 1 / 13;
    background-color: rgb(201, 122, 238);
    padding: 10px;
}
footer div {
    font-family: 'Baloo', cursive;
    text-align: center;
    font-weight: bold;
}
footer span {
    margin: 10px;
    font-size: 20px;
    text-shadow: 0px 0px 10px black, 0px 0px black;
}
#fb {
    color: rgb(92, 92, 245);
}
#ig {
    color: rgb(216, 79, 85);
}
#tw {
    color: rgb(82, 179, 224);
}
footer p {
    padding: 10px;
    text-align: center;
    font-size: 12px;
}
/* tablet */
@media only screen and (min-width:600px) {
    nav {
        grid-column: 1 / 5;
        grid-row: 2;
    }
    nav li {
        border: 5px solid rgb(238, 199, 235);
        padding: 10px;
        font-size: 20px;
        border-radius: 10px;
    }
    main {
        grid-column: 5 / 13;
        grid-row: 2;
        padding-top: 25px;
    }
    .candyScroller {
        height: 250px;
        border-top: 5px dotted rgb(38, 9, 65);
        background-color: rgb(238, 199, 235);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
    table {
        font-size: 20px;
        margin: 50px 10px;

    }
    

}
/* desktop */
@media only screen and (min-width:900px) {
    .candyScroller {
        grid-column: 10 / 13;
        grid-row: 2;
        background-color: rgb(238, 199, 235);
        border: none;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
    }
    main {
        grid-column: 5 / 10;
        grid-row: 2;
    }

    

}