.gridContainer {
    display: grid;
    grid-gap: 10px;
    margin: 20px;
}

.gridItem {
    border-radius: 5px;
    font-size: 25px;
    padding: 10px;
}

/* phone */

.header {
    background-color: rgb(158, 158, 158);
    color: white;
}

.sidebar {
    background-color: #2b2a2a;
    color: white;
}

.content {
    background-color: #2b2a2a;
    color: white;
}

.sidebar2 {
    background-color: rgb(199, 202, 202);
    color: #2b2a2a;
}

.footer {
    background-color: rgb(158, 158, 158);
    color: white;
}

/* tablet */

@media only screen and (min-width: 600px) and (max-width: 900px){
    .gridContainer {
        grid-template-columns: 20% 80%;
    }
    .header,
    .sidebar2,
    .footer {
        grid-column: 1/3;
    }
}

/* laptop */

@media only screen and (min-width: 900px) {
    .gridContainer {
        grid-template-columns: 20% 60% 20%;
    }
    .header,
    .footer {
        grid-column: 1/4;
    }
}